name: Auto Deploy to Server

on:
  push:
    branches: 
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H 20.197.47.46 >> ~/.ssh/known_hosts

    - name: Deploy to Server
      run: |
        ssh whizcamp@20.197.47.46 "cd ~/simranproject && ./deploy.sh"
